/* 기본 버튼 디자인 */
.basic-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.basic-button--large-wide {
  width: 344px;
  height: 104px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 60px;
}

.basic-button--medium-wide {
  width: 344px;
  height: 50px;
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
}

.basic-button--medium-fit {
  width: 70px;
  height: 40px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
}

/* 게임 롤 메인 색상 */
.basic-button.lol {
  background-color: #5461FF;
  color: #fff;
}

/* 게임 롤 메인 색상 */
.basic-button.lol-waiting {
  background-color: #4F4F4F;
  color: #fff;
}


.basic-button:disabled,
.basic-button[disabled]{
  background-color:#8E8E8E;
  cursor: default;
  color: #eee;
}