.input-label.vertical {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.input-label.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
input {
  font-size: 0.875rem;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 0 12px;
  color: #fff;
  background-color: #000;
  &:hover {
    border-color: #b9b9b9 !important;
  }
  &:focus, &:active {
    border-color: #b9b9b9 !important;
    outline: none;
  }
}
.input-disabled {
  input {
    background-color: #646464;
    &:hover {
      border-color: #e3e3e3 !important;
    }
    &:focus, &:active {
      border-color: #e3e3e3 !important;
      outline: none;
    }
  }
}
label {
  color: #292929;
  font-size: 1rem;
  font-weight: 500;
}
.input-label.light {
  label {
    color: #292929;
  }
  input {
    color: #292929;
    background-color: #fff;
    border-color: #cccccc;
    &:hover {
      border-color: #6f6f6f !important;
    }
    &:focus, &:active {
      border-color: #6f6f6f !important;
      outline: none;
    }
  }
}
.input-prefix {
  padding-left: 28px;
}
.input-suffix {
  padding-right: 28px;
}
.input-prefix-icon {
  position: relative;
  left: 24px;
  margin-left: -16px;
}
.input-suffix-icon {
  position: relative;
  right: 24px;
  margin-right: -16px;
}
